pre{
   overflow: hidden;
}
pre:hover{
   overflow: visible;
}

/**
 * Reset - http://goo.gl/2Fft4
 ********************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    transition: all linear 800ms;
    -o-transition: all linear 800ms;
    -moz-transition: all linear 800ms;
    -webkit-transition: all linear 800ms;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * Basic styles
 ********************************************************************/

html {
    overflow-y: scroll;
}

body {
    /* font-family: 'Droid Serif', sans-serif;*/
    font-family:Georgia,serif;
    font-size: 100%;
    background-color: #fff;
    color: #333;
    line-height: 1.4;
    max-width:800px;
   
}


body > header {
    
    overflow: hidden;
    display:block;
    border-bottom: 1px solid #EBEBEB;
    padding: 10px 12px 9px 10px;
    margin-bottom: 1em;
    margin-top:2em;

}
body > header h1 a{
    color: rgb(88, 130, 250);
    margin-bottom: 0px;
    float: left;
    letter-spacing: -1px;
    font-family: ‘Arial Black’,Gadget,sans-serif;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family:Georgia,serif;
    font-weight: normal;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.4em;
}

h1, h2 {
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
       color: rgb(88, 130, 250);
   /*
    color: #06C; */
}

a:hover {
 /* color: #F30; */
 color: #06C;  
 text-shadow: 1px 1px 3px #D5D5D5;

}

p, ul, ol {
    margin: 1em 0;
}

ul {
    list-style-type: circle;
}

li {
    
}

ul ul {
    margin: 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: 900;
}

time {
    color: hsla(30, 10%, 50%, 0.6);
    font-size: 12px;
}

header nav {
    /*text-transform: uppercase;*/
    font-size: 1.2em;
    line-height: 1;
}

nav ul {
    list-style-type: none;
}

article h1 a {
    font-family: "Open Sans";
    color: green; 
    font-size:0.3em;
    
}

article h1 a:hover {
    color: #06C;
}

article  nav {
    text-transform: uppercase;
    font-size: 13px;
    color: hsla(30, 10%, 50%, 0.6);
}

footer {
    color: hsla(210, 10%, 50%, 0.6);
    font-size: 1em;
}

code,
.codehilite pre {
    font-family: Inconsolata, 'Courier New', monospace;
}

.codehilite pre {
    font-size: 0.9em;
    padding: 10px;
    background-color: #f3f3f3;
}

aside {
    font-size: 0.9em;
   /* line-height:15px; */
}

th {
    text-align: left;
    font-weight: bold;
}


body {
    width: 90%;
    margin: 0em auto;
}

header nav {
    float: left;
    margin-top: -38px;
    padding-left: 168px;
}

header nav ul {
    margin-bottom: 0;
}

header nav li {
    float: left;
    width: 120px;
    margin-left: 0;
}

header nav a {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
}


.pub-list li time {
    display: block;
    float: left;
    width: 144px;
    padding-right: 24px;
    margin-top: 3px;
}

.pub-list li {
    clear: both;
}

.pub-list .where {
    color: #999;
    font-size: 90%;
}

article  {
    margin-top: 0.5em;
}

article  h1 {
    margin-bottom: 0.5em;
    border-bottom: 1px solid #EBEBEB;
}

article time + p {
    margin-top: 0em;
}

article  time {
    float: left;
    margin-left: -168px;
    margin-top: -2.5em;
}

article nav {
    width: 648px;
    margin: 2em 0 0 -168px;
    overflow: auto;
}

article nav .previous {
    float: left;
}

article nav .next {
    float: right;
}

aside p,
aside li {
    float: left;
}

aside ul {
    list-style-type: none;
}

aside li {
    margin-bottom: 1em;
    line-height: 20px;
}

aside {
    overflow: hidden;
}

/*
aside h1, aside h2{
  font-family: 'Droid Sans', serif;
  margin-bottom: 0em;
}
*/
footer {
    text-align: center;
    border-top: 1px solid hsla(210, 10%, 50%, 0.2);
}


pre {
    overflow-x: auto;
    padding: 1.25em;
    border: 1px solid #E6E6E6;
    border-left-width: 5px;
    margin: 1.7143em 0;
    font-size: 0.875em;
    background: #FCFCFC;
}

pre, code {
    font-family: consolas,monospace,x;
    font-size: 1em;
}

