@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidserif/v3/QQt14e8dY39u-eYBZmppwTqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(http://themes.googleusercontent.com/static/fonts/droidserif/v3/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(http://themes.googleusercontent.com/static/fonts/inconsolata/v6/BjAYBlHtW3CJxDcjzrnZCIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}

#nav { 
width:100%; 
z-index:90; 
position: fixed; 
top: 0; right:0px;  
font-family: arial,sans-serif;
border-bottom: 1px solid #AFAFAF;
background-image: -webkit-linear-gradient( rgba(242, 242, 242, 0.9), rgba(222, 222, 222, 0.9));
}

#nav ul{ /* float:right;  width: 75%; margin:0; background-image: */ width: 520px;margin: 0 auto; }
#nav li{margin-left: 0;list-style:none; float:left;text-align:center;padding: 0 10px;}
#nav a{display:block;font-size:100%;text-decoration:none;line-height:30px;}
#nav li.selected a{background-color:#111; border-bottom:1px solid red; font-weight:bold;}
#nav a:hover{ /* background-color:#333 */}


#navbar-iframe {
              height:0px;
              visibility:hidden;
              display:none;
        }
pre{
   overflow: hidden;
}
pre:hover{
   overflow: visible;
}
.comment-icon{
              height:0px;
              visibility:hidden;
              display:none;
}

/**
 * Reset - http://goo.gl/2Fft4
 ********************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;

        transition: all linear 800ms;
    -o-transition: all linear 800ms;
    -moz-transition: all linear 800ms;
    -webkit-transition: all linear 800ms;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
/*
:focus {
    outline: 0;
}
*/
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * Basic styles
 ********************************************************************/

html {
    overflow-y: scroll;
}

body {
    font-family: 'Droid Serif', sans-serif;
    font-size: 100%;
    background-color: #fff;
    color: #333;
    line-height: 1.4;
   
}

body > header h1 {
    font-family: 'Droid Serif', sans-serif;
    font-size: 150%;
    line-height: 1;
    margin-bottom: 0;
    float:left;
}

h1, h2, h3, h4, h5, h6 {
   /* font-family: 'Droid Serif', serif; */
   font-family: "Open Sans";
    font-weight: normal;
}

h1 {
    font-size: 2.2em;
    color:#000;
}

h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}

h1, h2 {
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
   /* color: #06C; */
}

a:hover {
 /* color: #F30; */
  text-shadow: 1px 1px 3px #D5D5D5;
}

p, ul, ol {
    margin: 1em 0;
}

ul {
    list-style-type: circle;
}

li {
    
}

ul ul {
    margin: 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: 900;
}

time {
    color: hsla(30, 10%, 50%, 0.6);
    font-size: 12px;
}

header nav {
    /*text-transform: uppercase;*/
    font-size: 1.2em;
    line-height: 1;
}

nav ul {
    list-style-type: none;
}

article h1 a {
    /* color: green; */
    font-size:0.3em;
    
}

article h1 a:hover {
    color: #06C;
}

article  nav {
    text-transform: uppercase;
    font-size: 13px;
    color: hsla(30, 10%, 50%, 0.6);
}

footer {
    color: hsla(210, 10%, 50%, 0.6);
    font-size: 1em;
}

code,
.codehilite pre {
    font-family: Inconsolata, 'Courier New', monospace;
}

.codehilite pre {
    font-size: 0.9em;
    padding: 10px;
    background-color: #f3f3f3;
}

aside {
    font-size: 0.9em;
   /* line-height:15px; */
}

th {
    text-align: left;
    font-weight: bold;
}


body {
    width: 648px;
    padding: 0 60px;
    margin: 0em auto;
}

header nav {
    float: left;
    margin-top: -38px;
    padding-left: 168px;
}

header nav ul {
    margin-bottom: 0;
}

header nav li {
    float: left;
    width: 120px;
    margin-left: 0;
}

header nav a {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
}

body > header {
    
    overflow: hidden;
    display:block;
    border-bottom: 1px solid #EBEBEB;
    padding: 10px 12px 9px 10px;
    margin-bottom: 1em;
    margin-top:2em;

}

.pub-list li time {
    display: block;
    float: left;
    width: 144px;
    padding-right: 24px;
    margin-top: 3px;
}

.pub-list li {
    clear: both;
}

.pub-list .where {
    color: #999;
    font-size: 90%;
}

article  {
    width: 700px;
    padding: 10px 20px 10px 0;
   /* padding-left: 168px; */
    margin-top: 0.5em;
}

article  h1 {
    margin-bottom: 0.5em;
    border-bottom: 1px solid #EBEBEB;
}

article time + p {
    margin-top: 0em;
}

article  time {
    float: left;
    margin-left: -168px;
    margin-top: -2.5em;
}

article nav {
    width: 648px;
    margin: 2em 0 0 -168px;
    overflow: auto;
}

article nav .previous {
    float: left;
}

article nav .next {
    float: right;
}

aside p,
aside li {
    float: left;
}

aside ul {
    list-style-type: none;
}

aside li {
    margin-bottom: 1em;
    line-height: 20px;
}

aside {
    overflow: hidden;
}

aside h1, aside h2{
  font-family: 'Droid Sans', serif;
  margin-bottom: 0em;
}

footer {
    width: 648px;
    text-align: center;
    border-top: 1px solid hsla(210, 10%, 50%, 0.2);
}

.influads_block_holder{
 /*  float: left;
   margin-left: -223px;
    position: fixed;
   text-align: center !important;
    margin-top: -50px;
    background: white;
width:180px;
  
  padding: 5px;

height: 100%;
margin-top: -142px;
padding-top: 97px;
background: white;
*/
/*
 -moz-transform: scale(0.8);
 -webkit-transform: scale(0.8);
 transform: scale(0.8);
 -moz-transition: -moz-transform 1s;
 -webkit-transition: -webkit-transform 1s;
 transition: all 1s;
*/
}

/*
.influads_block_holder:hover {
-moz-transform: scale(1);
-webkit-transform: scale(1);
transform: scale(1);
}
*/

#rot:hover {
-moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

#rot {
-moz-transform: rotateY(-15deg);
-webkit-transform: rotateY(-15deg);
transform: rotateY(-15deg);
-moz-transition: -moz-transform 1s;
-webkit-transition: -webkit-transform 1s;
transition: all 1s;
}

.influads_block {
 width: 180px !important;
 overflow: hidden !important;
 text-align: center !important;
 float: left;
 margin-top:30px;
 background: rgba(191, 191, 217, 0.2);
 padding: 10px 0px;

}


.influads_block2 {
 width: 180px !important;
 overflow: hidden !important;
 text-align: center !important;
 float: left;
 margin-left: -223px;
position: absolute;
top:395px;
}


.avatar {
margin-bottom: 10px;
margin-top: 10px;
width:100%;
}
.avatar:hover{
  -webkit-box-shadow: 0px 0px 15px #ccc;
}

@media only screen and (min-width: 1212px) {
    body {
        width: 1068px;
        padding: 0 72px;
    }

    header nav {
        padding-left: 252px;
        width: 709px;
    }

    header nav li {
        width: 135px;
    }

    article {
        float: left;
      /*  padding-left: 252px; 
        width: 564px;*/
    }

    article nav {
        width: 1068px;
        margin-left: -252px;
    }

    aside section {
        float: left;
       /* width: 228px; */
        margin-bottom: 14px;
        border-bottom:1px solid gray;
        padding-bottom:4px;
    }

    #main {
        overflow: hidden;
        width: 1068px;
    }

    footer {
        width: 1068px;
    }

    #projects figure img {
        width: 200px;
    }
    figure img {
        width: 30em;
        margin: 1em 0 1em 0;
    }

}


@media only screen and (max-width: 767px) and (min-width: 480px) {
    body {
        width: 396px;
        padding: 0 42px0;
    }

    body > header h1 {
        text-align: center;
        padding-bottom: 0.6em;
        border-bottom: 1px solid hsla(210, 10%, 50%, 0.2);
        float:none;
    }

    header nav {
        float: none;
        padding-left: 0px;
        width: 396px;
        margin-top: 0px;
    }

    header nav li {
        width: 98px;
    }

    header nav a {
        padding: 10px 0;
    }

    article {
        width: 396px;
        padding: 0;
    }

    article time {
        float: none;
        margin: 0px;
    }

    article nav {
        width: 396px;
        margin-left: 0px;
    }

    article nav .previous,
    article nav .next {
        text-align: center;
        float: none;
    }

    h1 {
        font-size: 135%;
    }

    h2 {
        font-size: 110%;
    }

    footer {
        width: 396px;
    }

    .codehilite pre {
        font-size: 0.80em;
        padding: 2px 5px;
        overflow: auto;
    }

    #projects figure img {
        width: 37.45318%;
    }

.influads_block_holder{
   float: none;
   text-align: center !important;
   box-shadow: 0px 1px 10px #333333;
   padding: 5px;
   position: relative;
   margin: 20px auto 20px auto;
}

.influads_block {
   float:none;
   margin: 0 auto;
}

#searchform input[type="text"] {
    display:none;
}

.avatar {
 display:none;
}

}


@media only screen and (max-width: 479px) {

#nav{
display:none;
}
.influads_block_holder{
float: left;
margin-left: 0px;
position: absolute;
text-align: center !important;
box-shadow: 0px 1px 10px #333333;
padding: 5px;
}

    body {
        font-size: 90%;
        width: 228px;
        padding: 0 46px 0;
    }

    body > header h1 {
        text-align: center;
        padding-bottom: 0.6em;
        border-bottom: 1px solid hsla(210, 10%, 50%, 0.2);
        float:none;
    }

    body > header h1 {
        font-size: 115%;
    }

    header nav {
        float: none;
        padding-left: 0px;
        width: 228px;
        margin-top: 0px;
        font-size: 0.8em;
    }

    header nav li {
        width: auto;
        padding-right: 13px;
    }

    header nav a {
        padding: 0px;
    }

    article {
        width: 228px;
        padding: 0;
    }

    article time {
        float: none;
        margin: 0px;
    }

    article img {
        width: 100%;
    }

    article nav {
        width: 228px;
        margin-left: 0px;
        font-size: 0.7em;
    }

    article nav .previous,
    article nav .next {
        text-align: center;
        float: none;
    }

    h1 {
        font-size: 110%;
    }

    h2 {
        font-size: 100%;
    }

    footer {
        width: 228px;
    }

    .codehilite pre {
        font-size: 0.75em;
        padding: 2px 5px;
        overflow: auto;
    }

    .pub-list li time {
        display: block;
        float: none;
        width: auto;
        padding-right: 0px;
        margin-top: 0px;
    }

    .pub-list li a {
        display: inline;
        padding-left: 0px;
    }

    #projects figure img {
        width: 37.45318%;
    }
    
.influads_block_holder{
   float: none;
   text-align: center !important;
   box-shadow: 0px 1px 10px #333333;
   padding: 5px;
   position: relative;
   margin: 20px auto 20px auto;
}

.influads_block {
   float:none;
   margin: 0 auto;
}

#searchform input[type="text"] {
    display:none;
}

.avatar {
 display:none;
}

}

#comments {
    counter-reset: commentnum;
    margin-top: 0.5em;
}
#comments > h1 {
    color: #222222;
    position: relative;
}
#comments > h1:before {
    background: none repeat scroll 0 0 #333333;
    border-radius: 3px 3px 3px 3px;
    content: "";
    height: 10px;
    left: -25px;
    position: absolute;
    top: 14px;
    width: 15px;
    z-index: 2;
}
#comments > h1:after {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #333333;
    border-style: solid;
    border-width: 4px;
    content: "";
    display: block;
    left: -19px;
    position: absolute;
    top: 20px;
    width: 0;
    z-index: 1;
}
#comments > h1 span {
    color: #555555;
    display: block;
    font-size: 0.6875em;
    margin: 0.25em 0 0;
}
.comment {
    float: none; 
    width:auto;
    padding-left: 0px;
    counter-increment: commentnum;
}
.comment h3 {
    font-size: 1.125em;
    margin: 0.25em 0 0.5em;
}
.comment time{
 float: none;
 margin-left: 0px;
}

.comment time + a {
    font-size: 0.75em;
    margin: 0.3em 0 0;
}
.comment time + a:after {
    content: counter(commentnum, decimal);
    
}
.comment p {
    font-size: 0.875em;
    line-height: 1.4em;
    margin: 0 0 1.4em;
}
.comment header p {
    margin: 0.5em 0;
    padding: 0;
}
.comment header p em {
    background: none repeat scroll 0 0 #FFEE66;
    padding: 0 3px;
}


.page-switcher {
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border: none;
    bottom: 0;
    font-size: 40px;
    padding: 0;
    position: fixed;
    margin: 0;
    max-width: 150px;
    min-width: 90px;
    top: 0;
    z-index: 5;
    -webkit-transition: width 150ms, right 150ms, background-color 150ms;

}
.page-switcher:hover{
background-color: rgba(0, 0, 0, 0.06);
}

.searchdiv{
padding:10px 0;
}

span.icon {
font-family: 'WebSymbolsRegular';
}
.twitter{
color: #6ECFFA !important;
}
.google{
color: #D23819;
}
.rss {
color: #FA9934 !important;
}
.linkedin{
color: #78CEF6;
}
.facebook{
color: #3B5998;
}

input[type=email]{
    border:none;
    cursor:pointer;
        width: 200px;
}
input[type=email]:focus{
    border:1px solid gray;
    cursor:auto;
}




 /* Widget Div */
   #related-posts{
      margin-left:25px;
   }
   /* Widget H2 heading */
   #related-posts h2{
    margin:0;
      
   }
   /* Widget UL list */
   #related-posts ul{
      margin:0;
      padding-top:10px;
      
   }
   /* Widget loading text */
   #related-posts-loadingtext{
      color:green;
   }
   /* Widget loading class set on UL until it is loaded */
   /* you will need set the option: 'loadingClass':'related-posts-loading' */
   .related-posts-loading {
      background:transparent url(http://www.google.com/images/loading.gif) no-repeat right top;
   }



a.rss {

    border: 1px solid #DF912C;

    padding: 2px;

    font-size: 11px !important;

    font-weight: bold;

    color: #333 !important;

    border-radius: 3px;

    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);

    border-image: initial;

    position: relative;

       font-family: helvetica, verdana, arial, sans-serif;

    text-decoration: none;

}

a.rss:hover {

    color:orange;
border-color:#DF91D6;

    text-decoration: none !important;

}

#searchform input[type="text"] {
    background: #EEE;
    border: 1px solid #C5C5C5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #959595;
    font-size: 1em;
    line-height: 2.1em;
    padding: 5px;
    width:150%;
    margin-top: 7px;
    border-image: initial;
}

#searchform input[type="text"]:hover, #searchform input[type="text"]:focus {
    background: white;
    border: 1px solid #404040;
    color: #404040;
    outline: none;
    border-image: initial;
}

pre {
    overflow-x: auto;
    padding: 1.25em;
    border: 1px solid #E6E6E6;
    border-left-width: 5px;
    margin: 1.7143em 0;
    font-size: 0.875em;
    background: #FCFCFC;
}

pre, code {
    font-family: consolas,monospace,x;
    font-size: 1em;
}

/*

input[type="submit"] {
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
   background: -o-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
    background: -moz-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
     background: -gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
  color: #fff;
  font: lighter italic 30px/1 "hoefler text", georgia, serif;
  padding: 10px 20px;
  text-align: center;
  text-shadow: 0px -1px 1px #3d0700;
  background-color:red;
 }
  input[type="submit"]:hover {
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601));
    background: -moz-gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601));
    background: -o-gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601));
    background: -gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601));
    cursor: pointer; }
 input[type="submit"]:active {
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #d43c28), color-stop(0.5, #ad3224), color-stop(0.5, #9c1500), color-stop(1, #700d00));
    background: -moz-gradient(linear, 0 0, 0 100%, color-stop(0, #d43c28), color-stop(0.5, #ad3224), color-stop(0.5, #9c1500), color-stop(1, #700d00));
    background: -o-gradient(linear, 0 0, 0 100%, color-stop(0, #d43c28), color-stop(0.5, #ad3224), color-stop(0.5, #9c1500), color-stop(1, #700d00));
    background: -gradient(linear, 0 0, 0 100%, color-stop(0, #d43c28), color-stop(0.5, #ad3224), color-stop(0.5, #9c1500), color-stop(1, #700d00));
    }
*/

.post-footer{
    margin-top:10px;
    padding: 10px;;
    background:#fff;
}

.note {
    position: relative;
    
    padding: 20px;
    margin: 0 ;
    color: #fff;
    background: #005cff;
    overflow: hidden;
    margin-top:10px;
}

.note:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #fff #fff #001ec3 #001ec3;
    background: #001ec3;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    display: block;
    width: 0; /* Firefox 3.0 damage limitation */
}

.note.rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.note.rounded:before {
    border-width: 8px;
    border-color: #fff #fff transparent transparent;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

.note_text {
    padding: 10px;
}

.note a,.note a:hover {
    color: #fff !important;
}

