
  <input type="search" ng-model="q" placeholder="filter friends..." />

  <select nxg-model="o">
    <option value="">Order By</option>
    <option value="name">Name</option>
    <option value="city">City</option>
  </select>
  
  Here are {{customers.length}} customers

  <ol>
    <li ng-repeat="customer in customers | filter:q ">
      {{$index}} {{customer.name}}, {{customer.city | uppercase }}
    </li>
  </ol>

  Customer name: <input type="text" ng-model="newCustomer.name"><br />
  Customer city: <input type="text" ng-model="newCustomer.city"><br />
  <input type="button" value="Add" ng-click="addCustomer();">
